<p>app-ngmodel works!</p>
<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Perferendis maxime iure placeat repellendus odio officiis 
        voluptates aliquam fugit, debitis vel, porro praesentium 
        cupiditate beatae enim quisquam nulla nemo consequatur aliquid.
    </p>
    <ol>
        <li>ngModel is directive from angular</li>
        <li>Helps us implement two way dinding</li>
        <li>Import ngMdoel in app.module.ts</li>
        <li>Use this into HTML file</li>
    </ol>
    <h3>Demo of Two-Way binding using ngModel</h3>
    <input #box (keyup)="0">
    <p>you have entered: <strong>{{ box.value }}</strong></p>
    <button (click)="clearText()">Clear</button>

</div>
