<div class="container">
    <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h5 class="card-title">Password Generator</h5>
        <form #passwordForm = "ngForm" (ngSubmit) = "generatePassword(passwordForm.value)">
          <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default">Password Length</span>
            <input type="number"  name="passwordLength" ngModel placeholder = "please enter your number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"  min="8" max="32">
            <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Submit</button>
            <div>
              <div class="mb-3 form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="lowerCaseCheckBox" [(ngModel)] = 'lowerCaseCheckBox' checked>
                <label class="form-check-label" for="exampleCheck1">Lower Case</label>
              </div>
              <div class="mb-3 form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="exampleCheck2" name="upperCaseChckeBox" [(ngModel)] = 'upperCaseChckeBox' checked>
                <label class="form-check-label" for="exampleCheck1">Upper Case</label>
              </div>
              <div class="mb-3 form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="exampleCheck3" name="symbolCheckBox" [(ngModel)] = 'symbolCheckBox' checked>
                <label class="form-check-label" for="exampleCheck1">Symbol</label>
              </div>
              <div class="mb-3 form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="exampleCheck4" name="numberCheckBox" [(ngModel)] = 'numberCheckBox' checked>
                <label class="form-check-label" for="exampleCheck1">Number</label>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <h3>Your Password:  {{ newPassword }}</h3>
          </div>
        </form>
      </div>
    </div>
  </div>