<div [ngStyle] = "{'background-color':'DodgerBlue', 'text-align':'center'}">
    <h1 >{{ title }}</h1>
</div>
<div>
    <h2>ngFOr example</h2>
    <table class="table table-striped">
        <thead [ngStyle] = "{'background-color':'DodgerBlue'}">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Hire Date</th>
            <th>Annual Salary</th>
            <th>Active</th>
        </thead>
        <tbody>
            <tr *ngFor = 'let employee of employees'>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name | uppercase }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.hireDate | date: 'fullDate' | uppercase}}</td>
                <td>{{ employee.annualSalary }}</td>
            <td>
                    <button class = "" (click) = "toggleActive(employee)" [ngClass] = "buttonClass(employee)">
                        <div [ngSwitch] = "employee.isActive">
                            <div *ngSwitchCase = "true" >Active</div>
                            <div *ngSwitchCase = "false">Not Active</div>
                        </div>
                    </button>
                </td>
            </tr>
        </tbody>      
    </table>
</div>
<div>
    <h2>ngIf example</h2>
    <div *ngIf = "employees.length > 0">
        <p>The number of employees is: {{ employees.length }}</p>
    </div>
    <div *ngIf = "employees.length == 0">
        <p>No employee in the employee list</p>
    </div>
</div>
