<div class="card  d-flex align-items-center justify-content-center" style="width: 60rem; height: 30em;">
    <div class="container-pictures d-flex align-items-center justify-content-center" style="width: 60rem; height: 25em;">
        <img class="card-img-top" style="width: 20rem; height: 20rem;" src="" alt="...">
        <img class="card-img-top" style="width: 20rem; height: 20rem;" src="" alt="...">
        <img class="card-img-top" style="width: 20rem; height: 20rem;" src="" alt="...">
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-dark">Shuffle</button>
    </div>
  </div>