<p>ng-directives works!</p>
<div>
    <ul>
        <li>*ngFor</li>
        <li>*ngClass</li>
        <li>*ngModel</li>
        <li>*ngIf</li>
        <li>*ngSwitch</li>
    </ul>
</div>
<div>
    <h4>Demp of *ngFor</h4>
    <ul *ngFor = "let person of people; let i = index">
        <li *ngIf = "person.age > 33">{{ i + 1 }} {{ person.name}} {{ person.age }}</li>
    </ul>
    <h4>Demp of *ngFor by Country</h4>
    <ul *ngFor = "let country of peopleByCountry">
        <li>{{ country.country}} </li>
        <ul *ngFor = "let person of country.people">
            <li>{{ person.name }}</li>
        </ul>
    </ul>
</div>