<div>
    <h1>ng Switch</h1>
    <ul class="list-group" *ngFor = "let customer of customerList" [ngSwitch] = "customer.id">
        <li class="list-group-item" *ngSwitchCase = "1" class="text-success">{{ customer.name }}</li>
        <li class="list-group-item" *ngSwitchCase = "2" class="text-danger">{{ customer.name }}</li>
      </ul>
</div>

<div>________________________________________________________________________________</div>
<p>ng-directives works!</p>
<div>
    <ul>
        <li>*ngFor</li>
        <li>*ngClass</li>
        <li>*ngModel</li>
        <li>*ngIf</li>
        <li>*ngSwitch</li>
    </ul>
</div>
<div>
    <h4 class="h1">Demp of *ngFor</h4>
    <ul  *ngFor = "let person of people; let i = index">
        <li *ngIf = "person.age > 33">{{ i + 1 }} {{ person.name}} {{ person.age }}</li>
    </ul>
    <h4>Demp of *ngFor by Country</h4>
    <ul *ngFor = "let country of peopleByCountry">
        <li>{{ country.country}} </li>
        <ul *ngFor = "let person of country.people">
            <li>{{ person.name }}</li>
        </ul>
    </ul>
</div>
