<div style="background: lightblue;">
  <h1>Basics of Angular</h1>
</div>
<div style="background: lightcoral;">
  <h1>Example of interpolation</h1>
  <ul>
    <li>Interpolation is one way</li>
    <li>Does not wait for user input or any event to load the content</li>

  </ul>
  <h3>Angular Sub Topics</h3>
  <p>
   {{firstName}}<br>
   {{lastName}}<br>
   {{isActive}}<br>
   {{age}}<br>
   {{printInfo()}}
  </p>
</div>
<div>
  <h2>Examples of property and event</h2>
  <strong>( recommended )</strong>
</div>
<div>
  <p [innerText]="title"></p>
</div>
<p [innerHTML] = "count" style="font-size: xx-large;"></p>
<button (click)="increment()" style="background-color: green; text-align: center;" >Increment</button>
<button (click)="decrement()" style="background-color: rgb(134, 134, 219); text-align: center;" >Decrement</button>